/web/bundles/
/web/components/*
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
web/js/
web/css/
/node_modules/
/nbproject/
/.idea/