/web/bundles/
/web/components/*
/web/js/
/web/css/
/web/assetic/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
/node_modules/
/nbproject/
/.idea/
/bower_components
web/images
web/fonts
web/flags
.rsync_cache
.idea/*
.idea/
