parameters:
    base_url:          http://uirapu.ru

    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     portfolio
    database_user:     ~
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            pl
    secret:            SpruchniałyKonarWWątłyKwiatUbiera

    debug_toolbar:          true
    debug_redirects:        false
    use_assetic_controller: false

    delivery_address: uirapuruadg@gmail.com
    pdf_file_name: cv_grzegorz_kaszuba_%%locale%%.pdf

    sentry_backend_dsn: http://b1142cf3b8494ce298ca01e0b914a099:5572361eeeed451291a9345193ffb650@sentry.uirapu.ru/2