parameters:
    base_url:          http://uirapu.ru

    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     portfolio
    database_user:     ~
    database_password: ~

    test_database_name:     portfolio_test
    test_database_user:     replace_this_test_user
    test_database_password: replace_this_test_pass

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            pl
    secret:            NoCoZaPięknaTragedia

    debug_toolbar:          true
    debug_redirects:        false
    use_assetic_controller: false

    delivery_address: ~
    pdf_file_name: cv_grzegorz_kaszuba_%%locale%%.pdf

    sentry_backend_dsn:         ~
    sentry_backend_dsn_dev:     ~
    doctrine.server_version: 5.5